* {
	font-family: Helvetica Neue, Segoe UI, sans-serif;
}

button, input {
	margin: 3px;
}

ul {
	list-style: none;
	padding: 0;
}

input[type="text"] {
	width: 300px;
}

:checked + input[type="text"] {
	color: gray;
	font-style: italic;
	text-decoration: line-through;
}

#save_button, #logout_button {
	display: none;
}

.logged-in #login_button {
	display: none;
}

.logged-in #save_button, .logged-in #logout_button {
	display: revert;
}

#task-loader {
	display: none;
}

.loading-tasks #task-loader {
	width: 50px;
	display: revert;
}

fieldset {
	display: contents;
}